<ion-view view-title="Closet">
  <ion-content style="padding-top:40px" class="grey-bg">
    <div class="row">
      <p>
    Welcome Home.</p>
    </div>
    <div class="row">
      <button class="button button-full button-light button-border button-home-action">
        Some Action
      </button>
    </div>
    <div class="row">
      <button class="button button-full button-light button-border button-home-action">
        Other Action
      </button>
    </div>
  </ion-content>
</ion-view>
