<div class="middle-box text-center loginscreen animated fadeIn">
  <div>

    <div>
      <!-- <h1 class="logo-name">IN+</h1> -->
    </div>

    <h3>Welcome to the App Dashboard</h3>

    <form class="m-t" role="form" name="LoginFrm" novalidate ng-submit="login.login()">
      <div class="form-group">
        <input type="email" name="id" class="form-control" placeholder="Email" ng-model="login.user.email" ng-class="{'has-error':LoginFrm.id.$dirty && LoginFrm.id.$invalid}" required>
        <div class="form-messages" ng-messages="LoginFrm.id.$error" ng-messages-multiple>
          <p ng-message="required" class="text-danger failMsg">This field is required</p>
          <p ng-message="email" class="text-danger failMsg">Enter a valid email</p>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="login.user.password" ng-class="{'has-error':LoginFrm.password.$dirty && LoginFrm.password.$invalid}" required>
        <div class="form-messages" ng-messages="LoginFrm.password.$error" ng-messages-multiple>
          <div ng-message="required" class="text-danger failMsg">This field is required</div>
        </div>
      </div>
      <div ng-messages="LoginFrm.$invalidUser" class="form-messages">
        <p ng-message="fail" class="text-danger failMsg" >{{errorMessage}}</p>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" ng-class="{disabled: LoginFrm.$invalid}">Login</button>

      <a href="#" ui-sref="public.resetPassword"><small>Forgot password?</small></a>
      <!-- <p class="text-muted text-center"><small>Do not have an account?</small></p>
      <a class="btn btn-sm btn-white btn-block" ui-sref="public.signup">Create an account</a> -->
    </form>

    <p class="m-t"> <small>App Dashboard  &copy; 2015</small> </p>
  </div>
</div>
