<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Orders</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
              <button type="button" class="btn btn-xs btn-white">Annual</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-9">
              <div class="flot-chart">
                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
              </div>
            </div>
            <div class="col-lg-3">
              <ul class="stat-list">
                <li>
                  <h2 class="no-margins">2,346</h2>
                  <small>Total Orders in period</small>
                  <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                  <div class="progress progress-mini">
                    <div style="width: 48%;" class="progress-bar"></div>
                  </div>
                </li>
                <li>
                  <h2 class="no-margins ">4,422</h2>
                  <small>Orders in last month</small>
                  <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                  <div class="progress progress-mini">
                    <div style="width: 60%;" class="progress-bar"></div>
                  </div>
                </li>
                <li>
                  <h2 class="no-margins ">9,180</h2>
                  <small>Monthly income from Orders</small>
                  <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                  <div class="progress progress-mini">
                    <div style="width: 22%;" class="progress-bar"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Orders by State </h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Data</th>
                <th>State</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <span class="line" style="display: none;">5,3,2,-1,-3,-2,2,3,5,2</span>
                  <svg class="peity" height="16" width="32">
                    <polygon fill="#1ab394" points="0 9.375 0 0.5 3.5555555555555554 4.25 7.111111111111111 6.125 10.666666666666666 11.75 14.222222222222221 15.5 17.77777777777778 13.625 21.333333333333332 6.125 24.888888888888886 4.25 28.444444444444443 0.5 32 6.125 32 9.375"></polygon>
                    <polyline fill="transparent" points="0 0.5 3.5555555555555554 4.25 7.111111111111111 6.125 10.666666666666666 11.75 14.222222222222221 15.5 17.77777777777778 13.625 21.333333333333332 6.125 24.888888888888886 4.25 28.444444444444443 0.5 32 6.125"
                    stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline>
                  </svg>
                </td>
                <td>Florida</td>
                <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <span class="line" style="display: none;">5,3,9,6,5,9,7,3,5,2</span>
                  <svg class="peity" height="16" width="32">
                    <polygon fill="#1ab394" points="0 15 0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666 32 15"></polygon>
                    <polyline fill="transparent" points="0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666"
                    stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline>
                  </svg>
                </td>
                <td>Alabama</td>
                <td class="text-warning"> <i class="fa fa-level-down"></i> -20% </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <span class="line" style="display: none;">1,6,3,9,5,9,5,3,9,6,4</span>
                  <svg class="peity" height="16" width="32">
                    <polygon fill="#1ab394" points="0 15 0 13.833333333333334 3.2 5.5 6.4 10.5 9.600000000000001 0.5 12.8 7.166666666666666 16 0.5 19.200000000000003 7.166666666666666 22.400000000000002 10.5 25.6 0.5 28.8 5.5 32 8.833333333333332 32 15"></polygon>
                    <polyline fill="transparent" points="0 13.833333333333334 3.2 5.5 6.4 10.5 9.600000000000001 0.5 12.8 7.166666666666666 16 0.5 19.200000000000003 7.166666666666666 22.400000000000002 10.5 25.6 0.5 28.8 5.5 32 8.833333333333332"
                    stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline>
                  </svg>
                </td>
                <td>Giorgia</td>
                <td class="text-navy"> <i class="fa fa-level-up"></i> 26% </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Top Users</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">

          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Orders by Service</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-5 m-b-xs">
              <select class="input-sm form-control input-s-sm inline">
                <option value="0">Cleaning</option>
                <option value="1">Shipping</option>
                <option value="2">Cleaning and Shipping</option>
              </select>
            </div>
            <div class="col-sm-4 m-b-xs">
              <div data-toggle="buttons" class="btn-group">
                <label class="btn btn-sm btn-white">
                  <input type="radio" id="option1" name="options"> Day </label>
                <label class="btn btn-sm btn-white active">
                  <input type="radio" id="option2" name="options"> Week </label>
                <label class="btn btn-sm btn-white">
                  <input type="radio" id="option3" name="options"> Month </label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                </span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>

                  <th></th>
                  <th>State </th>
                  <th>Completed </th>
                  <th>Resolution Rate</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="icheckbox_square-green checked" style="position: relative;">
                      <input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;">
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                    </div>
                  </td>
                  <td>Florida
                    <small>This is an example</small>
                  </td>
                  <td>
                    <span class="pie" style="display: none;">0.52/1.561</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path>
                    </svg>
                  </td>
                  <td>20%</td>
                  <td>Jul 14, 2013</td>
                  <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="icheckbox_square-green" style="position: relative;">
                      <input type="checkbox" class="i-checks" name="input[]" style="position: absolute; opacity: 0;">
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                    </div>
                  </td>
                  <td>Alabama</td>
                  <td>
                    <span class="pie" style="display: none;">6,9</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 12.702282018339785 14.47213595499958 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 12.702282018339785 14.47213595499958 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path>
                    </svg>
                  </td>
                  <td>40%</td>
                  <td>Jul 16, 2013</td>
                  <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="icheckbox_square-green" style="position: relative;">
                      <input type="checkbox" class="i-checks" name="input[]" style="position: absolute; opacity: 0;">
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                    </div>
                  </td>
                  <td>Georgia</td>
                  <td>
                    <span class="pie" style="display: none;">3,1</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 1 1 0 8.000000000000002 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 0 8.000000000000002 A 8 8 0 0 1 7.999999999999998 0 Z" fill="#d7d7d7"></path>
                    </svg>
                  </td>
                  <td>75%</td>
                  <td>Jul 18, 2013</td>
                  <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="icheckbox_square-green" style="position: relative;">
                      <input type="checkbox" class="i-checks" name="input[]" style="position: absolute; opacity: 0;">
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                    </div>
                  </td>
                  <td>South Carolina</td>
                  <td>
                    <span class="pie" style="display: none;">4,9</span>
                    <svg class="peity" height="16" width="16">
                      <path d="M 8 8 L 8 0 A 8 8 0 0 1 15.48012994148332 10.836839096340286 Z" fill="#1ab394"></path>
                      <path d="M 8 8 L 15.48012994148332 10.836839096340286 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path>
                    </svg>
                  </td>
                  <td>18%</td>
                  <td>Jul 22, 2013</td>
                  <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
