<div class="middle-box text-center loginscreen animated fadeIn">
  <div>

    <h3 ng-hide="resetPasswordCtrl.showMessage">Please enter the email address associated with your account below:</h3>

    <form class="m-t" role="form" ng-submit="resetPasswordCtrl.send()">
      <div id="formReset">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" required="" ng-model="resetPasswordCtrl.user.email">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Send</button>
      </div>


      <div>
      <h4 ng-if="resetPasswordCtrl.showMessage" style="color: #3c763d; text-align: center;">
        A new temporary password has been sent to your email
      </h4>
      <h4 ng-if="resetPasswordCtrl.errorMessage" style="color: #a94442; text-align: center;">
        we have problems with reset password
      </h4>
    </div>
      <h4 ng-hide="resetPasswordCtrl.showMessage">You will receive an email with a temporary password so you can access your account.</h4>

      <p class="text-muted text-center" ng-hide="resetPasswordCtrl.showMessage"><small>Do not have an account?</small></p>
      <!-- <a class="btn btn-sm btn-white btn-block" ui-sref="public.signup" ng-hide="resetPasswordCtrl.showMessage">Create an account</a> -->
      <div ng-if="resetPasswordCtrl.showMessage">
      <p style="font-weight:700;text-align:center;">
        If you do not see the email in your inbox, please check your Spam folders. If you do not receive the email, or are still experiencing issues. Please contact us at:
      </p>
      <h4 style="color:blue">support@closet.com</h4>
      <button type="button" class="btn btn-primary block full-width m-b" ui-sref="public.login">Login</button>
    </div>
    </form>

    <p class="m-t"> <small>App Dashboard  &copy; 2015</small> </p>
  </div>
</div>
