<form name="LoginFrm" novalidate ng-hide="loginDirectiveCtrl.state.isUserLoggedIn" ng-submit="loginDirectiveCtrl.login()">
  <div class="list">
    <div>
      <div class="logoLoginBox" ng-class="{inactive: !loginDirectiveCtrl.displayedLogin}">
        <img src="http://49.media.tumblr.com/8210fd413c5ce209678ef82d65731443/tumblr_mjphnqLpNy1s5jjtzo1_400.gif" class="logoLogin animated animateDelay025" ng-class="{fadeInDown: loginDirectiveCtrl.displayedLogin}">
      </div>
      <input type="email" data-name="id" ng-model="userEmail" placeholder="Email" class="inputLogin2"
        ng-click="loginDirectiveCtrl.displayLogin()"
        ng-class="{'has-error':LoginFrm.id.$dirty && LoginFrm.id.$invalid}" required>
      <hr style="width:70%;" class="barra">
      <input name="password" type="password" ng-model="userPassword" placeholder="Password" class="inputLogin2" ng-click="loginDirectiveCtrl.displayLogin()" ng-class="{'has-error':LoginFrm.password.$dirty && LoginFrm.password.$invalid}" required>
      <div ng-messages="LoginFrm.$invalidUser" class="form-messages">
        <p ng-message="fail" class="failMsg">{{errorMessage}}</p>
      </div>
      <div class="buttonLoginBox" ng-class="{inactive: !loginDirectiveCtrl.displayedLogin}">
        <button class="transparentButton buttonlogin2 animated animateDelay01" ng-class="{zoomIn: loginDirectiveCtrl.displayedLogin, disabled: LoginFrm.$invalid}">
          <i class="ion-android-arrow-dropright-circle "></i>
        </button>
      </div>
    </div>
    <div class="linksLoginBox">
      <button class="button button-block button-positive button-clear" ui-sref="public.signup">
        I don't have an account
      </button>
      <button class="button button-block button-positive button-clear" ui-sref="public.resetPassword">
        I forgot my password
      </button>
    </div>
  </div>
</form>
