/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #339999 !default;
$positive: 						            #339999 !default;
$secondary: 					            #27316D !default;
$calm:                            #0A7272 !default;
$balanced:                        #66cc33 !default;
$energized:                       #339999 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
$black:                           #000000 !default;
$text-primary:                    #337ab7 !default;
$text-success:                    #3c763d !default;
$text-info:                       #31708f !default;
$text-warning:                    #8a6d3b !default;
$text-danger:                     #a94442 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../bower_components/ionic/scss/ionic";

.angular-google-map-container { height: 300px}

.grey-bg{
  background-color: #f3f3f4;
}

// Closet Buttons

.closetButton{
  text-decoration: none;
  border-color: #b2b2b2;
  background-color: #339999;
  color: #000;
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 0 20px;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 200px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 44px;
  cursor: pointer;
}

// Order Summary
.closetOrderItem{
  padding-left: 20px;
  min-height: 40px;
  line-height: 40px;
  margin:0;
}
.closetCheckbox{
  margin-right: 20px !important;
}

.closetCheckboxLabel{
  width: 100%;
  height: 100%;
  display: inline-block;
}

.orderSummaryPanel{
  line-height: 1.5;
}

.angular-date-picker {
  .arrow {
    position: relative;
    top: -8px;
  }

  ._days {
    width: 100%;
    margin: 0;
    padding: 10px;

    ._day, ._day-of-week {
      width: (100%/7);
      padding: 5px;
      font-size: larger;
    }
  }
  ._day.-selectable {
    color: $positive;
  }
  ._month > button._next{
    font-size: 30px;
    margin-top: -10px;
  }
  ._month > button._previous{
    font-size: 30px;
    margin-top: -10px;
  }
}

// Map Page
.closetMap {
  transition: all .3s ease .15s;
  height: 300px;
  overflow: hidden;
  ui-gmap-google-map {
    display: none;
  }
  &.inactive {
    height: 0;
  }
  &.defaultMap{
    background-image: url(/assets/images/defaultmap.png);
    background-size: cover;
    .spinner{
      display: none;
    }
  }
  &.ready{
    background: none !important;
    .spinner{
      display: none;
    }
    ui-gmap-google-map{
      display: block;
    }
  }

}


// Order Summary
.orderSummaryPickupLocation{
  padding-top: 10px;
  line-height: 1.5;
}

// Spinner
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.myalign{
  padding-right: 5px;
}
.myalignPrice{
 padding-right: 15px;
}

.editIcon{
  color: $positive;
}

.checkIcon{
  color: green;
}

.checkIconGrey{
  color: #b2b2b2;
}

.cardIcon{
  width: 50px;
  height: 35px;
}

.buttonPay{
  margin-left: 30%;
  width: 95px;
}

.filters{
  text-align: center;
}

.selec{
  border-radius: 5px;
  font-size: 14px;
}

.twoIcons{
  float: left;
}



.iconTable{
  width: 25px;
  margin-left: 20%;
}

.iconCar{
  width: 40px;
  margin-left: 15%;
}

.textVAlign{
  vertical-align: middle;
}



table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
  line-height: 24px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 10px
}

td {
  border-width: 0 1px 1px 0;
  padding: 10px;
}

tr:nth-child(odd) {
  background: #fff;
}

h1 {
  text-align: center;
}

.iconAlert{
  font-size:35px;
  color: $positive;
}

.selecAlert{
  height: 35px;
}

.iconCarAlert{
  width: 30px;
}

.divAlign{
  margin-top: -10px;
  position: relative;
  padding: 0;
}
.divAlignB{
  margin-top: -3px;
  position: relative;
  padding: 0;
}

.B{
  position: absolute;
  left: 85%;
  top: 0;
}

.Bprice{
  position: absolute;
  left: 89%;
  top: 0;
}

.BWashing{
  position: absolute;
  left: 95%;
  top: 0;
}

.iconHistory{
  width: 20px;
  margin-left: 7px;
}

.divfloat{
  position: relative;
  padding: 0;
}



//Button rate order summary

.buttonRate{
  left: 75%;
}

//Rate

.inline{
  display: inline-block;
}

.ionic_ratings .icon {
  font-size: 25px;
}

.ionic_ratings .read_only {
  pointer-events:none !important;
}

.divAlignRate{
  margin-top: 3px;
  position: relative;
  padding: 0;
}

.BRate{
  position: absolute;
  left: 25%;
  top: 0;
}


// new search

#mapSearchBox {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 95%;
  margin: 10px 2.5%;
  height: 44px;
  position: fixed !important;
  z-index: 999999;
}


#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 95%;
  margin: 10px 2.5%;
  height: 44px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.closetAddressMapWrapper{
  height: 85%;
}
.newClosetMap{
  height: 100%;
}

#searchBackground{
  background:url(/assets/images/Closet_Logo_colornotag.png) no-repeat center 30% #F1F1F1;
  background-size: 40%;
}

.custompopup{
  .popup{
    width: 300px;
  }
  .popup-body {
    overflow: inherit !important;
    text-align: center;
    position: relative;
  }
}

.barra{
  border-color: $positive;
  color: $positive;
  background-color : $positive;
}
.form-messages {
  > div {
    width: 50%;
    margin: 0 auto;
  }
}
.inputLogin2{
  margin: 0 auto;
  width:50%;
  background-color:#f3f3f4;
}

.buttonlogin2{
  color: $energized;
  font-size:50px;
}
.buttonLoginBox {
  margin: 30px 0 20px 0;
  height: 50px;
  text-align: center;
  transition: all .3s ease .15s;
  > button {
    display: none;
  }
  > button.zoomIn {
    display: inline;
  }
}
.buttonLoginBox.inactive {
  height: 0;
  margin: 0;
}
.logoLoginBox {
  height: 93px;
  margin: 30px 0;
  transition: all .3s ease .15s;
  .logoLogin {
    width:100px;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
  .logoLogin.fadeInDown {
    display: block;
  }
}
.logoLoginBox.inactive {
  height: 0;
  margin: 0;
}
.form-messages {
  width: 50%;
  margin: 0 auto;
  .failMsg {
    color: #dd4b39;
  }
}
#SignupFrm .form-messages {
  width: auto;
  padding: 0 10px;
}

// paymentMethods
.defaultCard, .defaultCard .item-content{
  background-color: #f5b95a;
}

.button-border{
  border-color: silver !important;
}

.button-home-action{
  width: 70%;
  height: 60px;
  margin: 20px auto;
}
.payment-item {
  > .item-content {
    padding-right: 16px;
  }
  &.item p {
    font-size: 16px;
    display: inline;
    float: right;
    span {
      line-height: 26px;
    }
  }
  .payment-item-row {
    padding-left: 42px;
    > span {
      line-height: 26px;
    }
  }
  img.icon {
    height: 39px;
    padding-top: 19px;
  }
}
.payment-config-button {
  background: none;
  border-color: transparent;
  background-color: none;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 40px;
  min-height: 26px;
  border-width: 0px;
  border-style: solid;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
  > .icon {
    left: 11px;
  }
}


/** Responsive **/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 330px)
and (orientation : portrait) {
  .linksLoginBox .button.button-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px)
and (orientation : landscape) {
  .closetMap {
    height: 180px;
  }
  .logoLoginBox {
    height: 65px;
    margin: 20px 0 20px 0;
    .logoLogin {
      width:70px;
      display: none;
    }
  }
  .buttonLoginBox {
    margin: 15px 0 15px 0;
  }
  .linksLoginBox {
    > button.button-block {
      width: 49.8%;
      margin: 0 auto;
      clear: none;
    }
  }
}


/** Utils **/

.disabled {
  opacity: .55;
}
// animations
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}
.animateDelay01 {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
.animateDelay025 {
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}
.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}


//Messages
.msgSuccess{
  color: $text-success;
}

.msgError{
  color:$text-danger;
}
// new map
#closetAddressMapCanvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  position: relative;
  .angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
  }
}

//Transparent Button
.transparentButton{
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   overflow: hidden;
}

//Logo Google
.logoList2{
  top: 50%
}

//Button Current Position
.btnCurentPosition{
  position: absolute;
  top: 82%;
  right: 10px;
  width: 42px;
  background: rgba(255,255,255,.85);
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16);
}
