<div ng-if="$state.$current.toString() !== 'dashboard.main'" class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-11">
    <h2>{{$state.current.data.name}}</h2>
    <ol class="breadcrumb">
      <li ng-repeat="state in breadcrumb.states" ng-class="{ active: state.active }">
        <a ui-sref="{{state.url}}">{{ state.name }}</a>
      </li>
    </ol>
  </div>
</div>
