<ion-side-menus enable-menu-with-back-views="true">

  <!-- CONTENT -->
  <ion-side-menu-content drag-content="mainCtrl.enableMenu">

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-light">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button ng-show="mainCtrl.showbackbutton" ng-click="mainCtrl.backCheckout()"></ion-nav-back-button>

      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="left" ng-show="!mainCtrl.showbackbutton">
          <i class="icon ion-navicon-round" style="color: #339999"></i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"  overflow-scroll="true"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left" class="grey-bg">

    <!-- menu header -->
    <ion-header-bar class="bar-energized">
      <h1 class="title"></h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="main.home">
          Home
        </ion-item>
        <ion-item menu-close ui-sref="main.account">
          My Account
        </ion-item>
        <ion-item menu-close ui-sref="main.about">
          About this App
        </ion-item>
        <ion-item menu-close ng-click="mainCtrl.logout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
