<ion-view view-title="Create an Account" hide-nav-bar="false">
  <ion-content class="grey-bg">
    <br>

    <form class="form" name="SignupFrm" id="SignupFrm" ng-submit="singupCtrl.register(SignupFrm)" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Full Name</span>
          <input type="text" name="name" ng-model="singupCtrl.user.name"
                 placeholder="Enter full name" required>
        </label>

        <p class="text-center assertive" ng-show="form.name.$error.required && singupCtrl.submitted">
          A name is required
        </p>
        <br>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="tel" name="phone" ng-model="singupCtrl.user.phone" mask="(999) 999-9999" clean="true" required>
        </label>

        <p class="text-center assertive" ng-show="form.phone.$error.required && singupCtrl.submitted">
          A phone number is required
        </p>
        <br>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="singupCtrl.user.email"
                 placeholder="Enter email address" ng-class="{'has-error':SignupFrm.email.$dirty && SignupFrm.email.$invalid}" required>
        </label>
        <p class="text-center assertive" ng-show="SignupFrm.email.$error.required  && singupCtrl.$submitted">
          This field is required
        </p>
        <p class="text-center assertive" ng-show="SignupFrm.email.$error.email">
          Enter a valid email
        </p>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="singupCtrl.user.password"
                 placeholder="Enter password" ng-minlength="3" class="{'has-error':SignupFrm.password.$dirty && SignupFrm.password.$invalid}" required ng-minlength="3">
        </label>

        <p class="text-center assertive" ng-show="SignupFrm.password.$error.required  && singupCtrl.$submitted">
          This field is required
        </p>
        <p class="text-center assertive" ng-show="SignupFrm.password.$error.minlength">
          Password must be at least 3 characters.
        </p>

        <p class="text-center assertive" ng-show="form.password.$error.mongoose">
          {{ singupCtrl.errors.password }}
        </p>
      </div>

      <div class="padding">
        <button class="button button-block button-positive" type="submit" ng-disabled="!SignupFrm.$valid">Sign Up</button>
      </div>
    </form>
    <div class="padding">
      <button class="button button-block button-positive button-clear" ui-sref="main.pickup">
        I already have an account
      </button>
    </div>
  </ion-content>
</ion-view>
