<nav id="metisMenu" class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">

          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs"><strong class="font-bold" ng-show="vm.admin">{{vm.user.name}}</strong></span>
              <span class="block m-t-xs"><strong class="font-bold" ng-show="!vm.admin">{{vm.user.cleanerName || vm.user.name}}</strong></span>
              <!-- <span class="text-muted text-xs block">Laundy Corp<b class="caret"></b></span> -->
            </span>
          </a>

          <ul class="dropdown-menu animated fadeIn m-t-xs">
            <li ng-show="vm.admin"><a ui-sref="main.profile">Profile</a></li>
            <li class="divider"></li>
            <li><a ng-click="vm.logout()">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          App
        </div>
      </li>

      <li ui-sref-active="active" ng-show="vm.admin">
        <a ui-sref="main.dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
      </li>

      <li ui-sref-active="active" ng-show="vm.admin">
        <a href="#"><i class="fa fa-area-chart"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a ui-sref="main.reports">All Reports</a></li>
          <li><a ui-sref="main.reports">Specific Reports</a></li>
        </ul>
      </li>

      <li ui-sref-active="active" ng-show="vm.admin">
        <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Messages</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a>Inbox</a></li>
          <li><a>Direct Messages</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
