<ion-view view-title="My Account">
  <ion-content class="grey-bg">
    <ion-list>
      <div class="item item-divider"><br>Account</div>
      <!--<ion-item class="item-icon-left item-icon-right" href="#/account/settings">
        <i class="icon ion-gear-a account-icons"></i>
        Settings
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>-->
      <ion-item class="item-icon-left item-icon-right" ui-sref="main.paymentMethods">
        <i class="icon ion-card account-icons"></i>
        Payment Methods
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <!-- <ion-item class="item-icon-left item-icon-right" href="#/account/connected">
        <i class="icon ion-radio-waves account-icons"></i>
        Connected Accounts
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item> -->
      <ion-item class="item-icon-left item-icon-right" ui-sref="main.profile">
        <i class="icon ion-radio-waves account-icons"></i>
        Profile
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" ui-sref="main.changePassword">
        <i class="icon ion-radio-waves account-icons"></i>
        Change Password
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="item item-divider"><br></div>
      <ion-item ng-click="accountCrtl.security.logout()" class="item item-icon-right">
        Logout
        <i class="icon ion-log-out positive"></i>
      </ion-item>
      <br>
      <div class="text-center">
        <p style="opacity: 0.5">v 0.8.5</p>
      </div>
      <br>
    </ion-list>
  </ion-content>
</ion-view>
