<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"> {{ PageTitle }}</h1>
    <button class="button button-clear button-positive" ng-click="paymentMethodsCrtl.cancelAddNewCard()">Cancel</button>
  </ion-header-bar>
  <form class="form" name="paymentForm" id="paymentForm" ng-submit="paymentMethodsCrtl.saveNewCard(paymentForm)" novalidate>
    <ion-content class="grey-bg" style="margin-top: -2px">
      <ion-list>

        <div class="item item-divider">
          <br>

        </div>
        <ion-item class="item-input item-stacked-label" style="background-color: white">
          <span class="input-label">Card Number</span>
          <input type="tel" only-digits  ng-model="paymentMethodsCrtl.newCard.number" name="cardNumber" cc-number cc-format cc-type="paymentMethodsCrtl.newCard.cardType" autofocus placeholder="4242 4242 4242 4242" required/>
        </ion-item>
        <p class="text-center assertive" ng-show="paymentForm.cardNumber.$error.required && paymentForm.$submitted">
          Card number is required
        </p>
        <p class="text-center assertive" ng-show="!paymentForm.cardNumber.$error.required && paymentForm.$submitted && (paymentForm.cardNumber.$error.ccNumber || paymentForm.cardNumber.$error.ccNumberType)">
          Invalid Card Number
        </p>
        <ion-item class="item-input item-stacked-label" style="background-color: white">
          <span class="input-label">Verification Code</span>
          <input type="tel" only-digits  name="cvc" ng-model="paymentMethodsCrtl.newCard.cvc" cc-type="cardNumber.$ccType" placeholder="123" required />
        </ion-item>
        <p class="text-center assertive" ng-show="paymentForm.cvc.$error.required && paymentForm.$submitted">
          Verification Code is required
        </p>
        <span cc-exp>
          <ion-item class="item-input item-stacked-label" style="background-color: white">
            <span class="input-label">Expiration Month</span>
            <input type="tel" name="expMonth" ng-model="paymentMethodsCrtl.newCard.exp_month" cc-exp-month placeholder="MM" required />
          </ion-item>
          <p class="text-center assertive" ng-show="paymentForm.expMonth.$error.required && paymentForm.$submitted">
            Expiration Month is required
          </p>
          <p class="text-center assertive" ng-show="!paymentForm.expMonth.$error.required && paymentForm.$submitted && (paymentForm.expMonth.$error.ccExpMonth || paymentForm.expMonth.$error.parse)">
             Invalid Expiration Month
          </p>
          <ion-item class="item-input item-stacked-label" style="background-color: white">
            <span class="input-label">Expiration Year</span>
            <input type="tel" name="expYear" ng-model="paymentMethodsCrtl.newCard.exp_year" cc-exp-year placeholder="YY" required />
          </ion-item>
          <p class="text-center assertive" ng-show="paymentForm.expYear.$error.required && paymentForm.$submitted">
            Expiration Year is required
          </p>
          <p class="text-center assertive" ng-show="!paymentForm.expYear.$error.required && paymentForm.$submitted && (paymentForm.expYear.$error.ccExpYear || paymentForm.expYear.$error.parse)">
             Invalid Expiration Year
          </p>
        </span>

        <div class="item item-divider">
          <br>
        </div>
        <ion-item class="item-input item-stacked-label" style="background-color: white">
          <span class="input-label">Alias for this card</span>
          <input type="tel" name='alias' ng-model="paymentMethodsCrtl.newCard.name" placeholder="{{paymentForm.cardNumber.$ccType || 'Alias'}}" />
        </ion-item>

        <div class="item item-divider">
          <br>
          <br>
        </div>
      </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" keyboard-attach class="bar-positive">
      <button class="button button-block button-clear" ng-disable="paymentForm.$pristine" type="submit" style="color: white;margin: 0;">
        {{ ButtonLabel }}
      </button>
    </ion-footer-bar>
  </form>
</ion-modal-view>
