<ion-view view-title="Payment Settings">
  <ion-content class="grey-bg">
    <div class="item item-divider"><br>Payment Methods</div>
    <ion-list can-swipe="true">
      <ion-item ng-repeat="card in paymentMethodsCrtl.cards" class="item payment-item" ng-if="!paymentMethodsCrtl.loading" ng-class="{'defaultCard': paymentMethodsCrtl.defaultCardId === card.id }">
        <div class="item-icon-left payment-item-row">
          <span>
            <img ng-src="/assets/images/credit-card-icons/{{card.brand | lowercase}}-curved-128px.png" ng-if="card.brand" class="icon" /> {{card.name || card.brand}}
          </span>
          <p>
            <span>···· ···· ···· {{card.last4}}</span>
            <button class="payment-config-button" ng-click="paymentMethodsCrtl.setAsDefaultCard(card, $index)">
              <i class="icon" ng-class="{'ion-ios-star-outline': paymentMethodsCrtl.defaultCardId !== card.id, 'ion-ios-star': paymentMethodsCrtl.defaultCardId === card.id}"></i>
            </button>
            <button class="payment-config-button" ng-click="paymentMethodsCrtl.removeCard(card, $index)">
              <i class="icon ion-ios-close-outline"></i>
            </button>
          </p>
        </div>
        <!-- <ion-delete-button class="ion-minus-circled" ng-click="paymentMethodsCrtl.removeCard(card, $index)">
        </ion-delete-button>-->
        <!-- <ion-option-button class="button-balanced" ng-click="paymentMethodsCrtl.editCard(card, $index)">
          Edit
        </ion-option-button> -->
        <!-- <ion-option-button class="button-assertive" ng-click="paymentMethodsCrtl.removeCard(card, $index)">
          Remove
        </ion-option-button> -->
      </ion-item>
      <ion-item class="item text-center" ng-if="paymentMethodsCrtl.loading">
        <ion-spinner class="spinner-energized"></ion-spinner>
        <br>
        Loading payment methods...
      </ion-item>
      <ion-item class="item text-center" ng-if="!paymentMethodsCrtl.cards.length && !paymentMethodsCrtl.loading">
        You have not added any payment methods yet
      </ion-item>
    </ion-list>
    <div>
      <div class="item item-divider"><br></div>
      <ion-item class="item text-center positive" ng-click="paymentMethodsCrtl.showNewCardModal()">
        Add a new card
      </ion-item>
    </div>
  </ion-content>
</ion-view>
