<ion-view view-title="My Profile">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-if="!accountCrtl.editingProfile" ng-click="accountCrtl.editingProfile = !accountCrtl.editingProfile">
      <span >Edit</span>
    </button>
    <button class="button button-clear" ng-if="accountCrtl.editingProfile" ng-click="accountCrtl.updateUserProfile()">
      <span >Done</span>
    </button>
  </ion-nav-buttons>
  <ion-content class="">
    <ion-list>
      <div class="item item-divider"><br></div>
      <ion-item class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <span ng-if="!accountCrtl.editingProfile">{{accountCrtl.user.name}}</span>
        <span ng-if="accountCrtl.editingProfile"><input type="text" ng-model="accountCrtl.user.name"></span>
      </ion-item>
      <ion-item class="item item-input item-stacked-label">
        <span class="input-label">Phone</span>
        <span ng-if="!accountCrtl.editingProfile">{{accountCrtl.user.phone}}</span>
        <span ng-if="accountCrtl.editingProfile"><input type="tel" ng-model="accountCrtl.user.phone" mask="(999) 999-9999" clean="true"></span>
      </ion-item>
      <div class="item item-divider"><br></div>
      <ion-item class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <span ng-if="!accountCrtl.editingProfile">{{accountCrtl.user.email}}</span>
        <span ng-if="accountCrtl.editingProfile"><input type="text" ng-model="accountCrtl.user.email"></span>
      </ion-item>
      <ion-item class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <span>···········</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
