<div class="row animated fadeIn">

  <div class="col-md-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Profile Detail</h5>
      </div>
      <div>
        <div class="ibox-content profile-content">
          <form class="m-t" role="form" name="editProfileFrm" novalidate ng-submit="vm.updateProfile()">
                <div class="form-group">
                    <label for="fullname">Full Name:</label>
                    <input type="text" class="form-control" placeholder="Full name" name="fullname" ng-model="vm.user.name">
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="tel" class="form-control" placeholder="Phone" name="phone" ng-model="vm.user.phone" mask="(999) 999-9999">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" placeholder="Email" name="email" ng-model="vm.user.email" ng-class="{'has-error':editProfileFrm.email.$dirty && editProfileFrm.email.$invalid}" required>
                    <div class="form-messages" ng-messages="editProfileFrm.email.$error" ng-messages-multiple>
                        <p ng-message="required" class="text-danger failMsg">This field is required</p>
                        <p ng-message="email" class="text-danger failMsg">Enter a valid email</p>
                    </div>
                </div>
                <div ng-messages="vm.errorUpdate" class="form-messages">
                    <p ng-message="fail" class="text-danger failMsg" >Error with update profile</p>
                </div>
                <p class="text-success" ng-show="vm.successUpdate">Update Success</p>
                <button type="submit" class="btn btn-primary block full-width m-b" ng-class="{disabled: editProfileFrm.$invalid}">Save</button>
            </form>
        </div>
      </div>
    </div>
  </div>

</div>
