/*eslint no-trailing-spaces: 0*/
;(function() {
  'use strict';
  angular.module('<%- moduleName %>'<% if (deps) { %>, <%= JSON.stringify(deps) %><% } %>)
  <% constants.forEach(function(constant) { %>
    .constant('<%- constant.name %>', <%= constant.value.replace(/"/g,"'") %>)
  <% }) %>;
})();
