<!DOCTYPE html>
<html ng-app="dashboardApp" class="ng-cloak">
  <head>

    <base href="/">

    <title>Closet</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- build:css app.css -->

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/metisMenu/dist/metisMenu.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="bower_components/ui-select/dist/select.css">
    <!-- endinject -->

    <link rel="stylesheet" href="styles/css/app.css">

    <!-- endbuild -->

  </head>

  <body class="{{$state.current.data.bodyClass}}">

    <!-- Start: Main -->
    <div id="main">

    <div ui-view></div>

    </div>
    <!-- End: Main -->

   <!--  <script src="socket.io/socket.io.js"></script> -->
   <script src="http://maps.google.com/maps/api/js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/testapp/scripts/markerclusterer.js"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/testapp/scripts/markers.js"></script>

    <!-- build:js app.js -->

    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/metisMenu/dist/metisMenu.js"></script>
    <script src="bower_components/flot/jquery.flot.js"></script>
    <script src="bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ui-select/dist/select.js"></script>
    <script src="bower_components/js-data/dist/js-data.js"></script>
    <script src="bower_components/js-data-http/dist/js-data-http.js"></script>
    <script src="bower_components/ngMask/dist/ngMask.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/js-data-angular/dist/js-data-angular.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endinject -->

    <!--  <script src="bower_components/flot/jquery.flot.spline.js"></script> -->
    <script src="bower_components/flot/jquery.flot.resize.js"></script>
    <script src="bower_components/flot/jquery.flot.pie.js"></script>
    <script src="bower_components/flot/jquery.flot.symbol.js"></script>
    <script src="bower_components/flot/jquery.flot.time.js"></script>


    <script src="lib/pace.js"></script>
    <script src="lib/inspinia.js"></script>

    <script src="ngConstants.js"></script>
    <!-- inject:js -->


    <script src="app.js"></script>


    <script src="layouts/public/public.js"></script>


    <script src="layouts/main/main.js"></script>


    <script src="views/signup/signup.js"></script>


    <script src="views/signup/signup.controller.js"></script>


    <script src="views/resetPassword/resetPassword.js"></script>


    <script src="views/resetPassword/resetPassword.controller.js"></script>


    <script src="views/login/login.js"></script>


    <script src="views/login/login.controller.js"></script>


    <script src="views/profile/profile.js"></script>


    <script src="views/profile/profile.controller.js"></script>


    <script src="views/dashboard/dashboard.js"></script>


    <script src="views/dashboard/dashboard.controller.js"></script>


    <script src="models/user.model.js"></script>


    <script src="models/index.js"></script>


    <script src="common/services/socket/socket.service.js"></script>


    <script src="common/services/socket/socket.mock.js"></script>


    <script src="common/filters/prop-filter/prop-filter.js"></script>


    <script src="common/directives/navbar/navbar.directive.js"></script>


    <script src="common/directives/header/header.directive.js"></script>


    <script src="common/directives/footer/footer.directive.js"></script>


    <script src="common/directives/breadcrumb/breadcrumb.directive.js"></script>


    <script src="common/services/utils.service.js"></script>


    <script src="common/services/security.service.js"></script>


    <script src="common/services/authinterceptor.js"></script>


    <script src="common/services/api.service.js"></script>


    <script src="common/filters/centsToDollars.filter.js"></script>


    <!-- endinject -->

    <!-- endbuild -->

  </body>
</html>
