<div id="wrapper" class="animated fadeIn">
  <navbar></navbar>

  <div id="page-wrapper" class="gray-bg dashbard-1">
    <header></header>
    <breadcrumb></breadcrumb>
    <div ui-view class="wrapper wrapper-content"></div>
    <footer></footer>
  </div>
</div>
