<ion-view view-title="Reset Password">

  <ion-content class="padding grey-bg">
    <p style="font-weight:700;text-align:center;" ng-hide="resetPasswordCtrl.showMessage">
      Please enter the email address associated with your account below:
    </p>
    <div id="inputs">
      <input  style="border: 1px solid; border-radius: 5px; margin: 0 auto; width: 92%;" type="email" ng-model="resetPasswordCtrl.email" ng-class="{fadeOut: resetPasswordCtrl.showMessage}" id="inputEmail">
      <div class="padding" id="buttonSend">
        <div class="button-bar" ng-class="{fadeOut: resetPasswordCtrl.showMessage}">
          <button class="button button-positive animated animateDelay01"
            ng-click="resetPasswordCtrl.send()">
            Send
          </button>
        </div>
    </div>
    <div>
      <h4 ng-if="resetPasswordCtrl.showMessage" ng-messages="success" class="successMsg msgSuccess" style="text-align: center;">
        A new temporary password has been sent to your email
      </h4>
      <h4 ng-if="resetPasswordCtrl.errorMessage" ng-messages="error" class="successMsg" style="text-align: center;">
        we have problems with reset password
      </h4>
    </div>
    <p style="font-weight:700;text-align:center;" ng-hide="resetPasswordCtrl.showMessage">
      You will receive an email with a temporary password so you can access your account.
    </p>
    <div ng-if="resetPasswordCtrl.showMessage">
      <p style="font-weight:700;text-align:center;">
        If you do not see the email in your inbox, please check your Spam folders. If you do not receive the email, or are still experiencing issues. Please contact us at:
      </p>
      <button class="button button-block button-positive button-clear">
        support@getcloset.net
      </button>
    </div>
    <button class="button button-block button-positive button-clear" ui-sref="public.login">
      Login
    </button>
    <button class="button button-block button-positive button-clear" ui-sref="public.signup" ng-class="{fadeOut: resetPasswordCtrl.showMessage}">
      I don't have an account
    </button>
    </div>
  </ion-content>
</ion-view>
