<ion-view view-title="About Closet">
  <ion-content class="grey-bg">
    <ion-list>
      <div class="item item-divider"></div>
      <ion-item class="item-icon-left item-icon-right" ui-sref="main.faq">
        <i class="icon ion-help-circled account-icons"></i>
        FAQ
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" ui-sref="main.terms">
        <i class="icon ion-clipboard account-icons"></i>
        Terms and Conditions
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" ui-sref="main.privacy">
        <i class="icon ion-document-text account-icons"></i>
        Privacy Policy
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <!-- <ion-item class="item-icon-left item-icon-right" ui-sref="main.legal">
        <i class="icon ion-document-text account-icons"></i>
        Legal Information
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item> -->
      <div class="item item-divider"><br>Support</div>
      <ion-item class="item-icon-left item-icon-right" href="mailto:contact@gaboesquivel.com">
        <i class="icon ion-email account-icons"></i>
        Contact us
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <br>

      <div class="text-center">
        <p style="opacity: 0.5">v 0.8.5</p>
      </div>
      <br>
    </ion-list>
  </ion-content>
</ion-view>
