<ion-view view-title="Change Password">
  <ion-content class="grey-bg">
  <div ng-class="{fadeOut: changePasswordCtrl.showMessage}">
    <form class="form" name="changePassForm" id="changePassForm" novalidate>
      <ion-list>
        <ion-item class="item-input item-stacked-label" style="background-color: white">
          <span class="input-label">Old Password</span>
          <input type="password" name="oldPassword" ng-model="changePasswordCtrl.oldPassword" ng-minlength="3" required/>
        </ion-item>
      </ion-list>
      <p class="text-center assertive" ng-show="changePassForm.oldPassword.$error.required  && changePasswordCtrl.$submitted">
        This field is required
      </p>
      <p class="text-center assertive" ng-show="changePassForm.oldPassword.$error.minlength">
        Password must be at least 3 characters.
      </p>
      <ion-item class="item-input item-stacked-label" style="background-color: white">
        <span class="input-label">New Password</span>
        <input type="password" name="newPassword" ng-model="changePasswordCtrl.newPassword" ng-minlength="3" required/>
      </ion-item>
      <p class="text-center assertive" ng-show="changePassForm.newPassword.$error.required  && changePasswordCtrl.$submitted">
        This field is required
      </p>
      <p class="text-center assertive" ng-show="changePassForm.newPassword.$error.minlength">
        Password must be at least 3 characters.
      </p>
      <ion-item class="item-input item-stacked-label" style="background-color: white">
        <span class="input-label">Reenter New Password</span>
        <input type="password" name="rePassword" ng-model="changePasswordCtrl.confirmPass" ng-minlength="3" required/>
      </ion-item>
      <p class="text-center assertive" ng-show="changePassForm.rePassword.$error.required  && changePasswordCtrl.$submitted">
        This field is required
      </p>
      <p class="text-center assertive" ng-show="changePassForm.rePassword.$error.minlength">
        Password must be at least 3 characters.
      </p>
    </ion-list>
    </form>
  </div>
  <div>
    <h4 ng-if="changePasswordCtrl.showMessage" ng-messages="success" class="successMsg msgSuccess" style="text-align: center;">
      Your password was changed with success
    </h4>
    <h4 ng-if="changePasswordCtrl.errCheckPassword" ng-messages="error" class="msgError" style="text-align: center;">
      The passwords do not match.
    </h4>
    <h4 ng-if="changePasswordCtrl.errPassword" ng-messages="error" class="msgError" style="text-align: center;">
      we have problems with change password
    </h4>
  </div>
    <div class="button-bar" ng-class="{fadeOut: changePasswordCtrl.showMessage}">
      <button class="button button-positive animated animateDelay01"
        ng-click="changePasswordCtrl.confirmChage()"
        ng-disabled="!changePassForm.$valid">
        Confirm
      </button>
    </div>
  </div>
  </ion-content>
</ion-view>
