<div class="middle-box text-center loginscreen animated fadeIn">
    <div>
        <h3>Create an Account</h3>
        <form class="m-t" role="form" name="SignupFrm" novalidate ng-submit="vm.signup()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Full Name" name="fullname" ng-model="vm.user.name">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" placeholder="Phone" name="phone" ng-model="vm.user.phone" mask="(999) 999-9999">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="vm.user.email" ng-class="{'has-error':SignupFrm.email.$dirty && SignupFrm.email.$invalid}" required>
                <div class="form-messages" ng-messages="SignupFrm.email.$error" ng-messages-multiple>
                    <p ng-message="required" class="text-danger failMsg">This field is required</p>
                    <p ng-message="email" class="text-danger failMsg">Enter a valid email</p>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" ng-model="vm.user.password" class="{'has-error':SignupFrm.phone.$dirty && SignupFrm.phone.$invalid}" required>
                <div class="form-messages" ng-messages="SignupFrm.password.$error" ng-messages-multiple>
                    <p ng-message="required" class="text-danger failMsg">This field is required</p>
                </div>
            </div>
            <div ng-messages="SignupFrm.$invalidUser" class="form-messages">
                <p ng-message="fail" class="text-danger failMsg" >{{errorMessage}}</p>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-class="{disabled: SignupFrm.$invalid}">Register</button>

            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="public.login">Login</a>
        </form>
    </div>
</div>

<pre ng-if="vm.error">{{ vm.error | json }}</pre>
